<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Producto</title>
        <meta charset="UTF-8"> </meta>
        <!--Bootstrap CDN-->
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
              crossorigin="anonymous" />    
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <!--<script type="text/javascript" th:src="@{/js/actions.js}"></script>-->
    </head>
    <body>

        <!-- SECCION NAVEGACIÓN-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
            <div class="container">      
                <a th:href="@{/}" class="navbar-brand">
                    <strong>MinTIC Ciclo 3</strong> - Grupo 2
                </a>

                <button type="button" class="navbar-toggler" data-toggle="collapse"
                        data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false"
                        aria-label="Desplegar menú de navegación">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu-principal">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a th:href="@{/}" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a th:href="@{/productos}" class="nav-link active">Productos</a></li>
                        <li class="nav-item"><a th:href="@{/vendedores}" class="nav-link">Vendedores</a></li>
                        <li class="nav-item"><a th:href="@{/facturas}" class="nav-link">Facturas</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <main>
                <br/><br/><br/>
                <h3>Nuevo Producto</h3>
                <hr/>   
                <form th:action = "@{/guardar/producto}" class="form-group" th:object="${producto}" method="post">
                    <div class="form-group">
                        <label>Código</label>
                        <input id = "codigoproducto" type="text" class="form-control" placeholder="AAAA000" pattern="[A-Z]{4}[0-9]{3}" th:field ="*{codProducto}" required/>                     
                        <small>Formato: BBBB001.</small>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input id = "nombreproducto" type="text" class="form-control" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\w\s.,-]{3,30}" th:field ="*{nombreProducto}" required/>
                        <small>Mínimo 3 máximo 30 caracteres.</small>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input id = "descripcionproducto" type="text" class="form-control" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\w\s.,-]{3,60}" th:field = "*{descripcionProducto}" required/>                 
                        <small>Mínimo 3 máximo 60 caracteres.</small>
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input id = "precioproducto" type="number" step="any" min="0" class="form-control" placeholder="$" th:field = "*{precioProducto}"required/>               
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success"> Agregar </button>
                        <a th:href="@{/productos}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </main>
        </div>
        <!-- SECCION PIE DE PÁGINA -->
        <footer class="pie-de-pagina text-center text-md-right bg-dark text-white">
            <div class="container">
                <p class="m-0 py-3">Copyright © 2021. Todos los derechos reservados. </p>
            </div>
        </footer>

        <!-- ARCHIVOS BOOTSTRAP JAVASCRIPT -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>                
    </body>
</html>